<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- here no need to give href as public/css/styles.css as we have created public folder for the sake of express server -->
</head>
<body>